<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PTH Demo</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li class="left">
            <img src="img/nav-left-buttons.png">
          </li>
          <li class="nav-list">Elements</li>
          <li class="nav-list">Console</li>
          <li class="nav-list">Sources</li>
          <li class="nav-list">Network</li>
          <li class="nav-list">Timeline</li>
          <li class="nav-list">Profiles</li>
          <li class="nav-list">Application</li>
          <li class="nav-list">Security</li>
          <li class="nav-list">Audits</li>
          <li class="nav-list selected">Power to Hack</li>
          <li class="right">
            <img src="img/nav-right-buttons.png">
          </li>
          <li class="clear"></li>
        </ul>
      </nav>
      <section class="column left">
        <div>
          <ul>
            <li data-optionID="1">XXE</li>
            <li data-optionID="2">Leak de info privada por JSONP</li>
            <li data-optionID="3">Leak de info privada por JS</li>
            <li data-optionID="4">Detectar inyección CSV</li>
            <li class="disabled">Disabled 1</li>
            <li class="disabled">Disabled 2</li>
            <li class="disabled">Disabled 3</li>
            <li class="disabled">Disabled 4</li>
          </ul>
        </div>
      </section>
      <section class="column right">
        <div></div>
      </section>
      <div class="clear"></div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
